@import url('htpps://fonts.googleapis.com/css2? family=DM=Sans :wght@400;500;700&family=Fruktur:ita@1&family=Inter:wght@200;300;400;500;600;700&family=Osw ald:wght@600;700&display=swap');

/* Imported fonts from google fonts
   Oswald, Inter, DM sans, Fruktur
   */

   :root{
    --main-color: #624465;
    --main-dark: #252439;
    --main-yellow: #ffdd69;
    --sec-dark: #302f43;
    --white: #ffffff;
    --text-grey: rgba(0,0,0,.5);
   }
   
   * {
    padding: 0;
    margin: 0;
    box-sizzing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-family: 'inter', sans-serif;
   }

   html{
    scroll-behavior: smooth;
   }
   
   header{
    position: absolute;
    top: 1.5rem;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    padding: 1rem 2rem;
    background: var(--main-dark);
    display: flex;
    justify-content: space-between;
   }

   .btn{
    font-family: 'DM Sans', sans-serif;
    padding: 1rem 2rem;
    border-radius: 18px;
}

.logo-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--main-color);
    color: #fff;
    display: inline-block;
    margin-right: .5rem;
}

.logo-icon > span {
    color: #fff;
    font-size: 1.4rem;
}


header ul {
    display: flex;
}

header li {
    margin-right: 1rem;
}

header a{
    color: var(--main-color);
    display: inline-block;
    padding: 0rem .1rem .5rem .1rem;
    padding-bottom: .5rem;
}

header a.active {
    color: var(--white);
    border-bottom: 2px solid var(--white);
}

.more-links a{
    background: var(--white);
    color: rgba(0,0,0,);
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    background-color: var(--main-dark);
}

.hero-flex {
    padding-top: 5rem;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-desc {
    align-self: center;
    margin: 2rem 0rem;
    color: rgba(red, green, blue, alpha);
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.hero-img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

img{
    width: 100%;
}

.hero-img img{
    width: 77%;
}

.welcome{
    position: absolute;
    right: 30px;
    top: 55%;
    height: 170px;
    width: 170px;
}

.welcome-inner {
    position: relative;
}

.welcome-inner img {
animation: rotateObj 5s infinite linear;
}

@keyframes rorateObj {
    0% { transform: rotate(360deg) }
}

.welcome-inner span {
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 2rem;
    color: #fff;
    transform: translate(-40% -40%);
}

.container {
    margin: auto;
    width: 75%;
}

section:not(.hero) {
    padding: 3rem 0rem;
}

section.about {
    background: var(--main-color);

}
 .about-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 40% 60%;
    grid-gap: 4rem;
 }

.exp-num {
    display: flex;
    justify-content: center;
}
 .exp-num {
    background: var(--main-yellow);
    display: flex;
    justify-content: center;

 }

 .exp-num > div {
    background: var(--main-yellow);
    width: auto;
    display: inline-block;
 }
  
 .exp-num h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 10rem;
 }

 .exp-num h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 21rem;
    letter-spacing: -5px;
    line-height: 21rem;
    color: var(--main-color);
    position: relative;
    top: -3.5rem;
    right: -2rem;
 }

 .exp-num span {
    position: relative;
 }

 .exp-num h3 {
    font-size: 3rem;
    position: relative;
 }